<div class="sitemap-footer">
  <div class="container">
    <grid-row gutter="medium">
      <grid-column medium-6 large-3>
        <h3>{{ __( 'Kontakt', 'sls-2017' ) }}</h3>
        {# {% if footer.addess %} #}
        <v-card class="vcard" itemscope="" itemtype="http://microformats.org/profile/hcard">
          <div>
            <span itemprop="org">SLS Eventservice</span><br>
            <span itemprop="adr" itemscope="">
              <meta itemprop="type" content="work">
              <span itemprop="street-address">{{ footer.address.streetAddress }}</span>,<br>
              <span itemprop="country-name">{{ footer.address.countryName }}</span>-
              <span itemprop="postal-code">{{ footer.address.postalCode }}</span>
              <span class="locality">{{ footer.address.locality }}</span>
            </span>
          </div>
          <div>
          {% for item in footer.numbers %}

            {% if item.type == 'email' %}
              <a class="" itemscope="email" href="mailto:{{ item.value }}">{{ item.display ? item.display : item.value }}</a>
            {% else %}
              <div class="desktop-hidden" itemprop="tel" itemscope="">
                <meta itemprop="type" content="work">
                <span itemprop="{{ item.type }}">{{ item.pre ? item.pre ~ ': ' }}<a href="tel:{{ item.value }}">{{ item.display ? item.display : item.value }}</a></span>
              </div>
            {% endif %}

          {% endfor %}
          </div>
        </v-card>
        {# {% endif %} #}
      </grid-column>
      <grid-column medium-6 large-3>
        <h3>{{ __( 'Jobs', 'sls-2017' ) }}</h3>
        <p>Aktuell keine Stellenausschreibungen.<br>Schicke mir eine Initiativbewerbung an:</p>
        <p><a href="mailto:office@sls-eventservice.at">office@sls-eventservice.at</a></p>
      </grid-column>
      <grid-column medium-6 large-3>
        <h3>{{ __( 'Partner', 'sls-2017' ) }}</h3>
        {# <?php wp_nav_menu( array(
          'theme_location' => 'partner',
          'fallback_cb' => false,
          'menu_class' => 'link-list',
          'container' => false
        )); ?> #}
      </grid-column>
      <grid-column medium-6 large-3>
        <h3>{{ __( 'Downloads', 'sls-2017' ) }}</h3>
        {# <?php wp_nav_menu( array(
          'theme_location' => 'downloads',
          'fallback_cb' => false,
          'menu_class' => 'link-list',
          'container' => false
        )); ?> #}
      </grid-column>
    </grid-row>
  </div>
</div>
