{% extends 'layouts/base.twig' %}

{% block content %}

  {% set hero = page.get_field('hero') %}

  {% if hero.image  %}
    {% include 'components/hero.twig' with { 'hero': hero } %}
  {% endif %}

  <div class="container">

    <grid-row gutter="medium">
        <grid-column medium-6>
          {{ page.content }}
        </grid-column>
    </grid-row>

  </div>

  <div class="container references">
    {% for post in posts %}

    <grid-row class="reference-item">

      <grid-column medium-6>
        {% include 'components/image.twig'
           with {
            'image': Image(post.image),
            'style': 'reference-item__image'
          }
        %}
      </grid-column>

      <grid-column medium-6 class="reference-item__content">
        {% include 'components/image.twig' with { 'image': Image(post.logo), 'style': 'reference-item__logo'  } %}

        <h3 class="reference-item__headline">{{ post.title }}</h3>
        <p class="refernce-item__text">{{ post.shorttext }}</p>
        <a class="reference-item__link" href="{{ post.link }}">{{ __('Mehr erfahren', 'sls-2017') }} ></a>

      </grid-column>

    </grid-row>

    {% endfor %}


  </div>

{% endblock %}
