<!DOCTYPE html>
<html {{ site.language_attributes }}>
<head>
  <meta charset="{{ site.charset }}">
  <meta http-equiv="X-UA-Compatible" content="IE=EDGE">
  <meta name="viewport" content="width=device-width,minimal-ui,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="theme-color" content="#fff">
  <meta name="description" content="SLS Eventservice ist Ihr professioneller Partner für die gesamte Technik rund um Ihre Veranstaltungen. Wir freuen uns auf die Zusammenarbeit mit Ihnen!">
  <meta name="keywords" content="">
  <link rel="canonical" href="https://www.sls-eventservice.at/">
  <title>{{ wp_title ? wp_title ~ ' › ' }} {{ site.name }}</title>
  <meta property="og:locale" content="de_DE">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Ihr Event - unsere Aufgabe - SLS Eventservice">
  <meta property="og:description" content="SLS Eventservice ist Ihr professioneller Partner für die gesamte Technik rund um Ihre Veranstaltungen. Wir freuen uns auf die Zusammenarbeit mit Ihnen!">
  <meta property="og:url" content="http://www.sls-eventservice.at/">
  <meta property="og:site_name" content="SLS Eventservice">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  {{ function('wp_head') }}
</head>
<body>

  {% include 'components/icons.twig' %}
  <nav class="skiplinks" role="navigation">
    <a href="#main-navigation" class="visuallyhidden focusable">{{ __('Zur Hauptnavigation springen', 'sls-2017' ) }}></a>
    <a href="#main" class="visuallyhidden focusable">{{ __( 'Zum Seiteninhalt springen', 'sls-2017' ) }}></a>
  </nav>

  <div class="root">
    {% include 'components/header/header.twig' %}

    {% block messages %}
      {% if messages %}
        {% include 'components/overlays/message-box.twig' with { 'messages': messages } only %}
      {% endif %}
    {% endblock %}

    <main id="main" role="main">

    {% block content %}
      {{ __('Kein Inhalt verfügbar', 'sls-2017') }}
    {% endblock %}

    </main>

    <side-drawer aria-hidden="true">
      {% include 'components/footer/drawer-nav.twig' %}
    </side-drawer>

  </div>

  {% include 'components/footer/footer.twig' %}

  {{ function('wp_footer') }}
  </body>
</html>
