<div class="gallery island-3">

  <grid-row>
    <grid-column medium-6>
      <h2 class="is--uppercase is--bold">{{ __('SLS Galerie', 'sls-2017') }}</h2>
      <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
    </grid-column>
  </grid-row>

  <image-gallery-navigation role="navigation">
    <ul>
       {% for gallery in galleries %}
          <li gallery="{{ gallery.id }}" class="{{ loop.index0 == 0 ? 'is-active' }}">{{ gallery.title }}</li>
       {% endfor %}
    </ul>
  </image-gallery-navigation>

  {% for gallery in galleries %}

    <image-gallery id="{{ gallery.id }}" class="{{ loop.index0 == 0 ? 'is-active' }}">
      <grid-row>

      {% for item in gallery.get_field('images') %}

        {% set image = Image(item) %}

        <grid-column medium-6 large-4>
          <a image-gallery-item
            href="{{ image.src }}"
            style="background-image: url('{{ image.src | resize(450) }}')">
            <span class="image-gallery-item__body">
              <strong>{{ image.alt }}</strong>
              <span>{{ image.caption }}</span>
            </span>
          </a>
        </grid-column>

      {% endfor %}

      </grid-row>
    </image-gallery>

  {% endfor %}
</div>
