<div class="post-single container">

  <grid-row gutter='large'>

    <grid-column medium-3>

      <div class="post-single__date">
        <div class="day">{{ post.date | date('s') }}</div>
        <div class="month">{{ post.date | date('M, o') }}</div>
      </div>

      <p class="post-single__author">
        {{ __('Posted By', 'sls-2017') }} <a href="{{ post.author.link }}">{{ post.author.name}}</a>
      </p>
      <p class="post-single__categories">
        {{ post.kategorien | get_leistungen() }}
      </p>

    </grid-column>

    <grid-column medium-6>
      <h4 class="post-single__headline">{{ post.title }}</h4>


      {% include 'components/image.twig' with {'image': Image(post.image) } %}

      {{ post.content }}
    </grid-column>

    <grid-column medium-3>
      <h6>{{ __('Suche', 'sls-2017') }}</h6>
      <input type="search" />
    </grid-column>

  </grid-row>


</div>


